body {
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Bangers', cursive;
  }

  h1 {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 12px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
  }
  
  li a:hover {
    background-color: green;
    color: black;
    font-family: 'Bangers', cursive;
  }

  .ergebnis {
    color: black; 
    font-family: 'Bangers', cursive;
    font-size: large;
  }

  .navbarbutton {
    color: white; 
    font-family: 'Bangers', cursive;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
  }

  .navbarbutton:hover {
    color: black; 
    font-family: 'Bangers', cursive;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  #form {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    }