html {
    scroll-behavior: smooth
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

h1, p, .ergebnis, li a, .navbarbutton, pre {
  font-family: 'Press Start 2P', cursive;
}

h1, p, .ergebnis, li a, .navbarbutton, pre {
  color: white;
}

p {
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 12px;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

#log {
  position: absolute;
  bottom: 50px;
  right: 16px;
  font-size: 18px;
}

.ergebnis {
  font-size: 100px;
}

.button {
  background-color: white;
  border: none;
  color: #d6aa31;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: Transparent;
  border: 2px solid white;
  color: white;
}

#form {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.bubbles {
  position: absolute;
}

#image-source > * {
  margin-left: 10px
}


#image-source {
  position: absolute;
  left: 50%;
  bottom: 1%;
  text-align: left;
  width:270px;
  margin-left: -135px; /* Die halbe Größe des Elements */
  background-color: #222;
  outline: 2.5px solid white;
}

.blank-text {
  text-decoration: none;
  color: white;
}
